.table {
  padding: 5em;
}

table {
  width: 100%;
}

th,
td {
  width: 33%;
}

.create {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
