<mat-toolbar color="primary" class="mat-elevation-z24">
  <span>
    <button
      *ngIf="!login"
      mat-button
      [routerLink]="webshopsLink"
      [disabled]="webshops"
    >
      <mat-icon>list</mat-icon>Web Shops
    </button>
    <button
      *ngIf="!login"
      mat-button
      [routerLink]="paymentMethodsLink"
      [disabled]="paymentMethods"
    >
      <mat-icon>shopping_cart</mat-icon>Payment Methods
    </button>
    <button
      *ngIf="!login"
      mat-button
      [routerLink]="usersLink"
      [disabled]="users"
    >
      <mat-icon>shopping_basket</mat-icon>Users
    </button>
  </span>
  <span>
    <button *ngIf="!login" mat-icon-button [matMenuTriggerFor]="more">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #more="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>
  </span>
</mat-toolbar>
