<div class="root" [ngStyle]="config.style">
  <mat-card class="mat-elevation-z24">
    <mat-card-content>
      <h1>{{ title || config.title }}</h1>
      <form [formGroup]="form" (submit)="$event.stopPropagation()">
        <div [class.disabled]="isPending">
          <mat-form-field *ngFor="let control of controls">
            <mat-label>{{ capitalize(control) }}</mat-label>
            <input
              *ngIf="type(control) === 'text' || type(control) === 'password'"
              matInput
              [type]="type(control)"
              [formControlName]="control"
              placeholder="Enter {{ control }}"
            />
            <mat-select
              *ngIf="type(control) === 'select'"
              [formControlName]="control"
              placeholder="Select {{ control }}"
            >
              <mat-option
                *ngFor="let option of options(control) | async"
                [value]="option"
                >{{ option }}</mat-option
              >
            </mat-select>
            <mat-error> {{ capitalize(control) }} is required! </mat-error>
          </mat-form-field>
          <ng-container *ngFor="let control of fileControls">
            <div class="file-input">
              <input
                #fileInput
                type="file"
                accept="image/*"
                (change)="
                  updateFile(control, fileInput.files[0]);
                  fileInput.value = null
                "
              />
              <button
                mat-stroked-button
                color="accent"
                (click)="fileInput.click()"
              >
                Upload
              </button>
              <span
                class="file-status"
                [class.warning]="
                  !form.value[control] &&
                  form.touched &&
                  validation(control) === 'required'
                "
              >
                {{
                  form.value[control]
                    ? capitalize(control) + " provided"
                    : "No " + capitalize(control) + " provided"
                }}
              </span>
            </div>
          </ng-container>
        </div>
        <div class="center">
          <button
            *ngIf="!isPending"
            mat-raised-button
            color="primary"
            (click)="handleSubmit()"
          >
            Submit
          </button>
          <app-spinner *ngIf="isPending"></app-spinner>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
