.orders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  margin-top: 7px;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  font-size: 30px;
}
