<mat-toolbar color="primary" class="mat-elevation-z24">
  <span>
    <button
      *ngIf="!login"
      mat-button
      [routerLink]="productsLink"
      [disabled]="products"
    >
      <mat-icon>list</mat-icon>Products
    </button>
    <button *ngIf="!login" mat-button [routerLink]="cartLink" [disabled]="cart">
      <mat-icon>shopping_cart</mat-icon>Shopping Cart
    </button>
    <button
      *ngIf="!login"
      mat-button
      [routerLink]="ordersLink"
      [disabled]="orders"
    >
      <mat-icon>shopping_basket</mat-icon>Orders
    </button>
  </span>
  <span>
    <button *ngIf="!login" mat-icon-button [matMenuTriggerFor]="more">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #more="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>
  </span>
</mat-toolbar>
